<ng-container *ngIf="showSplashScreen; else mainApp">
  <app-splash-screen></app-splash-screen>
</ng-container>

<ng-template #mainApp>
  <app-navbar
    (searchTermChange)="onSearchTermChange($event)"
    (filterTypeChange)="onFilterTypeChange($event)"
    (userAdded)="addUser($event)">
  </app-navbar>

  <div class="container mx-auto mt-6">
    <h1 class="text-lg font-extrabold text-center mb-6 font-custom">Health Challenge Tracker</h1>

    <style>
      .font-custom {
        font-family: 'Poppins', sans-serif;
        font-size: 1.25rem; /* Adjust this value to make it smaller or larger */
      }
    </style>

    <!-- Add a link to a Google Font or another font provider -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">

    <app-user-table
      [users]="users"
      [searchTerm]="searchTerm"
      [filterType]="filterType">
    </app-user-table>
  </div>
</ng-template>
